{% extends 'base.html' %}
{%block title %} home {% endblock title %}}
{%block body %}
<div class="container-fluid">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="\static\img\book1.jpg" width="500" height="600" class="d-block w-100" alt="...">
      <h5 align="center">Welcome to our Library</h5>>
    </div>
    <div class="carousel-item">
      <img src="\static\img\book2.jpg" width="500" height="600" class="d-block w-100" alt="...">
      <h5 align="center">Read at your own comfort zone</h5>
    </div>
    <div class="carousel-item">
      <img src="\static\img\book3.avif" width="500" height="600" class="d-block w-100" alt="...">
      <h5 align="center">Read at our library</h5>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>>
{% endblock body %}}

<!--<!doctype html>-->
<!--<html lang="en">-->
<!--  <head>-->
<!--    &lt;!&ndash; CSS only &ndash;&gt;-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>Bootstrap demo</title>-->
<!--  </head>-->
<!--  <body>-->
<!--    <nav class="navbar navbar-expand-lg bg-light">-->
<!--  <div class="container-fluid">-->
<!--    <a class="navbar-brand" href="#">Chanchal Library</a>-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--      <ul class="navbar-nav me-auto mb-2 mb-lg-0">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link active" aria-current="page" href="/">Home</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/about">About us</a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            Services-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Services</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Rent a book</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Buy a book</a></li>-->
<!--          </ul>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="/contact">Contact us</a>-->
<!--        </li>-->

<!--      </ul>-->
<!--      <form class="d-flex" role="search">-->
<!--        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<!--  </body>-->
<!--</html>-->
